
**Data Types and Structures**

**Q1:What are data structures, and why are they important?**

Answer:
Data structures are ways of organizing and storing data in a computer so that it can be accessed and used efficiently. They help manage large amounts of data and make programs faster and easier to work with.

Data structures like lists, tuples, dictionaries, and sets are important in Python because they allow us to store, search, sort, and update data effectively.

**Q2:Explain the difference between mutable and immutable data types with examples.**

Answer:In Python, mutable data types can be changed after they are created, while immutable data types cannot be changed once they are created.
example of Mutable:

a = [1, 2, 3]

a[0] = 10        #list will be change (add) element in list

example of immutable:

b = (1, 2, 3)

b[0] = 10    
This will give an error and it will not add(update) new element in list

Mutable types:  list, dictionary, set

Immutable types:  int, float, string, tuple

**Q3: What are the main differences between lists and tuples in Python?**

Answer: In Python, both lists and tuples are used to store multiple items in a single variable.
The first and most important difference is that lists are mutable, which means we can change, add, or remove elements from a list after it is created. On the other hand, tuples are immutable, which means once a tuple is created, its elements cannot be changed.

Lists are created using square brackets, such as [1, 2, 3], while tuples use round brackets, such as (1, 2, 3).

Tuples are faster than lists in terms of performance because they are fixed and cannot be modified. This makes them more efficient when working with large or constant data.

Lists are used when the data needs to change during the program, while tuples are used when the data should remain unchanged throughout the program.

This makes both lists and tuples useful, depending on whether the data needs to be modified or kept constant.

**Q4: Describe how dictionaries store data.**

Answer:
in Python, a dictionary stores data in the form of key-value pairs. Each key is unique, and it is used to access its corresponding value.
Example:
student = {
  "name": "Siya",
  "age": 20,
  "grade": "A"
}

Here, "name", "age", and "grade" are keys, and their values are "Siya", 20, and "A".

Dictionaries are useful when we want to store data that can be looked up using a unique key.

**Q5:Why might you use a set instead of a list in Python?**

Answer:

A set is used when we want to store unique items only and do not care about the order. Unlike lists, sets do not allow duplicates and are faster for checking if an item exists.

items = [1, 2, 2, 3]

unique_items = set(items) #it will give Result:{1,2,3}

We use a set instead of a list when:
We need only unique elements,
We want faster membership testing (in keyword)
We don’t need to maintain order.

**Q6: What is a string in Python, and how is it different from a list?**
Answer:

A string in Python is a sequence of characters enclosed in single, double, or triple quotes. For example, "Hello" is a string. A list, on the other hand, is a collection of items which can be of different data types and is enclosed in square brackets like [1, "hello", 3.5].

The key difference is that strings are immutable, meaning they cannot be changed after creation, while lists are mutable and their elements can be modified, added, or removed.

**Q7:How do tuples ensure data integrity in Python?**

Answer:
Tuples in Python are immutable, which means their values cannot be changed after they are created. This property helps ensure data integrity, as the data stored in a tuple remains constant and secure throughout the program. This makes tuples a good choice when storing fixed or sensitive data that should not be accidentally modified.

**Q8:What is a hash table, and how does it relate to dictionaries in Python?**

Answer:

A hash table is a data structure that stores data in key-value pairs and allows fast access to values based on unique keys. In Python, a dictionary is an implementation of a hash table. It stores data as {key: value} pairs and allows quick retrieval, insertion, and deletion using the key.

**Q9:Can lists contain different data types in Python?**

Answer:
Yes, Python lists can contain elements of different data types. For example, a list can include integers, strings, floats, and even other lists or objects. This flexibility makes lists very useful for storing mixed data in one place.

Example:mixed_list = [10, "apple", 3.14, True]

**Q10:Explain why strings are immutable in Python.**

Answer:

Strings are immutable in Python to make them more secure and efficient. Since their content cannot be changed after creation, they are safer to use in programs where constant values are needed. Immutability also helps in memory management and improves performance when strings are reused.

**Q11:What advantages do dictionaries offer over lists for certain tasks?**

Answer:
Dictionaries provide several advantages over lists when working with key-based data. Unlike lists, which use numeric indexes, dictionaries use keys to access values, making the data more meaningful and easier to retrieve.

Dictionaries are more efficient than lists when searching for a specific item using a key because they use a hash table internally, which allows faster access. They are also helpful when storing structured data, where each item has a name or category.
dictionaries are better for organizing data with clear labels and for quick access using keys.

**Q12:Describe a scenario where using a tuple would be preferable over a list**

Answer:

Tuples are preferable when we want to store fixed data that should not be changed. For example, storing the coordinates of a location like (25.5, 75.3) is best done using a tuple because the values represent a constant position and should not be modified. Using a tuple helps protect such data from accidental changes.

**Q13:How do sets handle duplicate values in Python?**

Answer:

Sets in Python automatically remove duplicate values. When you add items to a set,any repeated values are ignored, and only unique elements are stored. This makes sets useful for tasks where uniqueness is important, such as finding distinct items in a list.
Example:
set_example = {1, 2, 2, 3} #Result:{1, 2, 3}

**Q14:How does the “in” keyword work differently for lists and dictionaries?**

Answer:

In a list, the (in) keyword checks if a specific value exists in the list.

In a dictionary, the in keyword checks only for the presence of a key, not the value.

Example:#List=[1, 2, 3]
2 in list it will give True

Dictionary={"a": 1, "b": 2}
"a" in dict this will give True
2 in dict it will give False (because 2 is a value, not a key)

**Q15:Can you modify the elements of a tuple? Explain why or why not**

Answer:

No, we cannot modify the elements of a tuple. Tuples are immutable, which means their values cannot be changed, added, or removed after they are created. This property is useful for storing constant or fixed data that should remain the same throughout the program.

**Q16:What is a nested dictionary, and give an example of its use case**

Answer:
A nested dictionary is a dictionary that contains another dictionary as its value. It is used to store structured data in a hierarchical form.

Example use case:
storing student details by ID:

students = {
  101: {"name": "Ravi", "age": 20},
  102: {"name": "Anita", "age": 19}}
This allows easy access to each student's information using their ID.

**Q17:Describe the time complexity of accessing elements in a dictionary**

Answer:
Accessing elements in a dictionary has a time complexity of O(1) on average. This means that retrieving a value using a key takes constant time, regardless of the size of the dictionary. This fast access is possible because dictionaries use a hash table internally.

**Q18:In what situations are lists preferred over dictionaries**

Answer:

Lists are preferred when the data is ordered and indexed by position, rather than by a name or label. They are useful when we need to store items in a sequence and access them using their index number.

For example, when storing a list of marks, names in order, or daily temperatures, a list is easier to use. Lists are also helpful when the relationship between elements is not based on a key–value format.

**Q19:Why are dictionaries considered unordered, and how does that affect data retrieval?**
Answer:

Dictionaries are considered unordered because they do not store items in a fixed sequence like lists do. Instead, items are stored based on their keys, and their position in memory can change.

This means we cannot rely on the order of items while retrieving data from a dictionary. However, since dictionaries use keys for access, we can quickly retrieve values as long as we know the key — regardless of the order.

**Q20:Explain the difference between a list and a dictionary in terms of data retrieval.**

Answer:
In a list, data is retrieved using an index number that represents the position of the item in the list. For example, list[0] gives the first item.

In a dictionary, data is retrieved using a key, which is more descriptive and meaningful. For example, dict["name"] gives the value linked to the key "name".

While lists are better for sequential data, dictionaries are more useful when we need to associate values with unique identifiers.

In [1]:
#Q.1 Write a code to create a string with your name and print it.
name="sayali Tiwari"
print("My name is:",name)

My name is: sayali Tiwari

In [2]:
#Q.2 Write a code to find the length of the string "Hello World"
s="Hello world"
len(s)

11

In [3]:
#Q.3 Write a code to slice the first 3 characters from the string "Python Programming"
a="Python Programming"
a[0:3]

'Pyt'

In [4]:
#Q.4 Write a code to convert the string "hello" to uppercase
a="hello"
a.upper()

'HELLO'

In [5]:
#Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
b="I like apple"
b.replace("apple","orange")

'I like orange'

In [6]:
#Q.6 Write a code to create a list with numbers 1 to 5 and print it
n=[1,2,3,4,5]
print(n)

[1, 2, 3, 4, 5]

In [7]:
# Q.7 Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [8]:
# Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [9]:
#Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
list[1]

'b'

In [10]:
#Q.10 Write a code to reverse the list [10, 20, 30, 40, 50].
#first method
list=[10,20,30,40,50]
list[::-1]

[50, 40, 30, 20, 10]

In [11]:
#second method
list=[10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [12]:
#Q.11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [13]:
#Q.12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t1=('red', 'green', 'blue', 'yellow')
print (t1[-2])

blue

In [14]:
#Q.13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10, 20, 5, 15)
min(tuple)

5

In [15]:
#Q.14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [16]:
#Q.15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t1=input("Enter name of fruits")
if "kiwi" in t1:
  print("kiwi is present")
else:
  print("kiwi is not present")

Enter name of fruitsapple, orange,banana
kiwi is not present

In [17]:
#Q.16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
s

{'a', 'b', 'c'}

In [18]:
#Q.17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1, 2, 3, 4, 5}
set.clear()

In [19]:
set

set()

In [20]:
#Q.18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
set

{1, 2, 3}

In [21]:
#Q.19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
a|b

{1, 2, 3, 4, 5}

In [22]:
#Q.20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1,2,3}
b={2,3,4}
a&b

{2, 3}

In [23]:
#Q.21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={"Name":"Sayali","Age":21,"City":"Ujjain"}
d

{'Name': 'Sayali', 'Age': 21, 'City': 'Ujjain'}

In [24]:
#Q.22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary={'name': 'John', 'age': 25}
dictionary.update ({"countary":"USA"})
dictionary

{'name': 'John', 'age': 25, 'countary': 'USA'}

In [25]:
#Q.23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d1={'name': 'Alice', 'age': 30}
d1['name']

'Alice'

In [26]:
#second method
d1.get('name')

'Alice'

In [27]:
#Q.24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d2={'name': 'Bob', 'age': 22, 'city': 'New York'}
d2.pop('age')
d2

{'name': 'Bob', 'city': 'New York'}

In [28]:
#Q.25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d={"name":"Alice","city":"Paris"}
if "city" in d:
  print("city is present")
else:
  print("city is not present")

city is present

In [29]:
#Q.26.Write a code to create a list, a tuple, and a dictionary, and print them all.
My_list=[1,2,3,4,5]
My_tuple=(1,2,3,4,5)
My_dict={"dad":"1234","mom":"567"}
print("list:",My_list)
print("tuple:",My_tuple)
print("dict:",My_dict)

list: [1, 2, 3, 4, 5]
tuple: (1, 2, 3, 4, 5)
dict: {'dad': '1234', 'mom': '567'}

In [30]:
#Q.27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
numbers = [78, 12, 45, 3, 66]
numbers.sort()
print("Sorted accending numbers:", numbers)

Sorted accending numbers: [3, 12, 45, 66, 78]

In [31]:
#Q.28.Write a code to create a list with strings and print the element at the third index.
lis1=["ram","shyam","umesh","shivansh","mohan"]
lis1[3]

'shivansh'

In [33]:
#Q.29.Write a code to combine two dictionaries into one and print the result.
name_of_students=["shivam","ram","shyam","mohan"]
marks=[75,82,92,65]
student_marks={}
for student,mark in zip(name_of_students,marks):
  student_marks[student]=mark
print(student_marks)

{'shivam': 75, 'ram': 82, 'shyam': 92, 'mohan': 65}

In [2]:
#Q.30. Write a code to convert a list of strings into a set.
fruits_list=["orange","kiwi","apple","bannana"]
fruits_set = set(fruits_list)
print(fruits_set)

{'bannana', 'orange', 'kiwi', 'apple'}